<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
    
 
  </ul>
  <ul class="nav navbar-nav ml-auto">
   
    
    
      <li class="nav-item px-1">
          <a>Deceased Name</a>
        </li>
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="hidden-md-down">User</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">

      
       
        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
       
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>


 
    
  </ul>
  
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
       
     
       
        <li class="nav-item" >
          <a class="nav-link"   [routerLink]="['/dashboard']"><i class="icon-film"></i> Make a Movie</a>
         
        </li>

        
        <li class="nav-item" >
          <a class="nav-link"  [routerLink]="['/components/buttons']" ><i class="fa fa-history"></i>My History</a>
         
        </li>
    

        <li class="nav-item" >
            <a class="nav-link"  [routerLink]="['/components/buttons']" ><i class="icon-logout icons "></i>Logout</a>
           
          </li>
    
        
      
       
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i>Login</a>
          <ul class="nav-dropdown-items">
            
          
            
          </ul>
        </li>
        
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
     <li>
        <h2 style="color: rgba(156, 228, 138, 0.877)">MEMORIAL MAKER</h2>
     </li>
      
      <!-- Breadcrumb Menu-->
    
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

 </div>

<footer class="app-footer">
  <a href="http://coreui.io"> Memorial Maker</a> &copy; 2017 .
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>
