<div class="card">
    <div class="card-header">
      <strong>DECEASED INFORMATION</strong> 
    </div>
    <div class="card-block">
      <form action="" method="post" class="form-horizontal ">
        <div class="form-group row">
          <label class="col-md-3 form-control-label" for="hf-email">Enter Full Name</label>
          <div class="col-md-9">
            <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Enter Full name..">
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 form-control-label" for="hf-password">Date of Birth</label>
          <div class="col-md-9">
            <input type="password" id="hf-password" name="hf-password" class="form-control" placeholder="Select date..">
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 form-control-label" for="hf-email">Date of Passing</label>
            <div class="col-md-9">
              <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Select Date..">
              <span class="help-block"></span>
            </div>
          </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>