<script src="css1/jquery-1.11.0.min.js"></script>
		<script src="css1/jquery-migrate-1.2.1.min.js"></script>
		<script src="css1/jquery-ui.min.js"></script>
		<!-- <script src="app.js"></script> -->


<div class="card">
        <div class="card-header">
                <i></i> 
         </div>
         
<div class="card-block">
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step col-xs-3"> 
                    <a href="#step-1" type="button" class="btn btn-success btn-circle"> <i class="fa fa-info-circle"></i></a>
                     <p><small>DECEASED INFORMATION</small></p>
                 </div>
          <div class="stepwizard-step col-xs-3"> 
              <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-cloud-upload"></i></a>
              <p><small>UPLOAD PHOTOS AND MUSIC</small></p>
          </div>
          <div class="stepwizard-step col-xs-3"> 
              <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-file-image-o"></i></a>
              <p><small>ARRANGE PHOTOS</small></p>
          </div>
          <div class="stepwizard-step col-xs-3"> 
              <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-paypal"></i></a>
              <p><small>PAYMENT</small></p>
          </div>
          <div class="stepwizard-step col-xs-3"> 
            <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-download"></i></a>
            <p><small>DOWNLOAD VIDEO</small></p>
        </div>
      </div>
  </div>
  
  <!-- <form role="form" name="form1"> -->
      <div class="panel panel-primary setup-content" id="step-1">
          <div class="panel-heading">
               
          </div>
          <div class="panel-body">
            <div class="card">
              <div class="card-header">
                <strong>DECEASED INFORMATION</strong> 
              </div>
              <div class="card-block">
                <form action="" method="post" class="form-horizontal ">
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" >Enter Full Name</label>
                    <div class="col-md-9">
                      <input type="email"  class="form-control" placeholder="Enter Full name..">
                      <span class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="hf-password">Date of Birth</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" placeholder="Select date..">
                      <span class="help-block"></span>
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="hf-email">Date of Passing</label>
                      <div class="col-md-9">
                        <input type="email" class="form-control" placeholder="Select Date..">
                        <span class="help-block"></span>
                      </div>
                    </div>
                </form>
              </div>
              <div class="card-footer">
                
                  <button class="btn btn-light prevBtn pull-left" disabled="disabled" >&laquo; Back</button>
                  <button  class="btn btn-success nextBtn pull-right" type="submit">
                        Next&raquo;
                  </button>
                 
              </div>
            </div>
          </div>
      </div>
      
      <div class="panel panel-primary setup-content" id="step-2">
         
          <div class="panel-body">
                <image-upload url="https://httpbin.org/status/200" ></image-upload>
             
              <button class="btn btn-light prevBtn pull-left" >&laquo; Back</button>
              <button  class="btn btn-success nextBtn pull-right" type="submit">
                    Next&raquo;
              </button>
          </div>
      </div>
      
      <div class="panel panel-primary setup-content" id="step-3">
          <div class="panel-heading">
               <!-- <h3 class="panel-title">Schedule</h3> -->
          </div>
          <div class="panel-body">
            
            <!-- ***** -->

            
            <div class="drop_div" >
                
                <div id="status"></div>
            </div>

            <div style="width:100%; float:left; border:1px solid #D1D1D1; margin-left:15px; padding:10px;">
            <div>You've selected: <span id="selected_num">0</span> images. </div>
            <ul class="image_list">
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/6.jpg" id="image_1" class="thumbnail" />
            <label><input type='checkbox' class="image_checkbox" id="1" /> Image 1 </label>
            </div>
            </li>
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/3.jpg" id="image_2" class="thumbnail"/>
            <label><input type='checkbox' class="image_checkbox" id="2" /> Image 2 </label>
            </div>
            </li>
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/1.jpg" id="image_3" class="thumbnail" />
            <label><input type='checkbox' class="image_checkbox" id="3" /> Image 3 </label>
            </div>
            </li>
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/6.jpg" id="image_4" class="thumbnail"/>
            <label><input type='checkbox' class="image_checkbox" id="4" /> Image 4 </label>
            </div>
            </li>
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/3.jpg" id="image_5" class="thumbnail"/>
            <label><input type='checkbox' class="image_checkbox" id="5" /> Image 5 </label>
            </div>
            </li>
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/4.jpg" id="image_6" class="thumbnail"/>
            <label><input type='checkbox' class="image_checkbox" id="6" /> Image 6 </label>
            </div>
            </li>
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/1.jpg" id="image_7" class="thumbnail"/>
            <label><input type='checkbox' class="image_checkbox" id="7" /> Image 7 </label>
            </div>
            </li>
            <li>
            <div class="image_item">
            <img src="assets/img/avatars/2.jpg" id="image_8" class="thumbnail"/>
            <label><input type='checkbox' class="image_checkbox" id="8" /> Image 8 </label>
            </div>
            </li>
            </ul>
            

           
            </div>

                <!-- ***************************** -->

                

              
          </div>
          <div>
                
            <button class="btn btn-light prevBtn pull-left" >&laquo; Back</button>
            <button  class="btn btn-success nextBtn pull-right" type="submit">
                  Next&raquo;
            </button>
           
        </div>
      </div>
      
      <div class="panel panel-primary setup-content" id="step-4">
          <div class="panel-heading">
               <h3 class="panel-title">Cargo</h3>
          </div>
          <div class="panel-body">
              <div class="form-group">
                  <label class="control-label">Company Name</label>
                  <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
              </div>
              <div class="form-group">
                  <label class="control-label">Company Address</label>
                  <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address" />
              </div>
              <button class="btn btn-light prevBtn pull-left"  type="reset">&laquo; Back</button>
              <button  class="btn btn-success nextBtn pull-right" type="submit">
                    Next&raquo;
              </button>
          </div>
      </div>

      <div class="panel panel-primary setup-content" id="step-5">
        <div class="panel-heading">
             <h3 class="panel-title">Cargo</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
            </div>
            <div class="form-group">
                <label class="control-label">Company Address</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address" />
            </div>
            <button class="btn btn-success pull-right" type="submit">Finish!</button>
        
        </div>
    </div>


  <!-- </form> -->
</div>
</div>
</div>
